<h1>La liste des invités : </h1>



<%= link_to 'Éditer l\'évènement', edit_event_path(@event.id), class: 'btn btn-outline-secondary' %>
</br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
<% @attendance.each do |f|  %>
    <tr> 
      <t><%= f.user_id %></td><td><%= f.first_name %></td><td><%= f.last_name %></td><td><%= f.email %></td>
    </tr> 
<% end %>
</tbody>
</table>